mlruns/
artifacts/
test_dataset/*
!test_dataset/spam.csv
!test_dataset/spam_sample.csv
lightning_logs/

**/data/downloaded/**

mlflow.db
**.ckpt
**.pt
training_run/
.gradio

__pycache__/
*.pyc
*.pyo
*.pyd

 mlops-exer-1-**/